.App {
  text-align: center;
}



body{
  background-color: #282c34;
}

.App-header {
  margin-bottom: 6em;
  min-height: 10vh;
  display: flex;
  color: white; 
}

i{
  font-size:12rem !important;
  margin-left: 6em;
  
}
input[type=text] {
  all: unset;
  width: 600px;
  height: 60px;
  border: 1px solid grey;
  padding-left: 55px;
  font-size: 18px;
  color: rgb(238, 230, 230);
  font-family: sans-serif;
  position: relative;
}
.Log-in-form{
  margin-left: 57em;
}

button{
  margin : 6em 13em 73em 115em;
}